.page-header
  %h1
    =link_to "The Store", root_path, class: "header-link"
.row
  .col-md-1.col-md-offset-1.side-bar
    <br>
    .div
      =link_to "Main", root_path, class: "side-bar-link"
    .div
      =link_to "Shop", products_path, class: "side-bar-link"
    .div
      =link_to "About Us", welcome_about_path, class: "side-bar-link"
  .col-md-4.col-md-offset-1
    <br>
    .div.about
      %h1 What is this?
      %h4
        The Store is a (fake) store, created as an educational experiment, exercise and potential template.
        This is my fifth project and first project created with a focus on front-end development integrated
        with a Ruby on Rails framework rather than focusing on the backend development.
