// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-form {
  margin-left: 50px;
  margin-top: 50px;
}
.order-form-2 {
  margin-top: 50px;
}
.checkout-image {
  height: 300px;
  width: 300px;
  margin-left: 50px;
  margin-top: 60px;
}
